*{
    margin: 0;
    padding: 0;
    font-family: 'Bitter', serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(11, 11, 12, 0.7),rgba(1, 2, 8, 0.7)),url(imgs/Screenshot_7.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 100px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none; /*no bullettings*/
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(167, 143, 143);
    display: block;
    margin: auto;
    transition: 0.2s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*puts the textbox in the centre*/
    text-align: center;
}
.text-box h1{
    font-size: 60px;
}
.text-box p{
    margin: 10px 0 40px; /*top, left&right, bottom*/
    font-size: 20px;
    color: #fff;
}
.box{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 32px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.box:hover{
    border: 1px solid red;
    background: orangered;
    transition: 0.4s;
}
nav .fa{
    display: none;
}
@media(max-width : 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: orangered;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.5s;
    }
    nav .fa{
        display: block;
        color: whitesmoke;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}

.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 50px;
    font-weight: 600;
}
p{
    color: grey;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    columns: 300px 2;
    justify-content: space-between;
}
.course-col{
    flex-basis: 31%;
    /* background: rgba(192, 196, 178, 0.692); */
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgb(0, 0, 0);
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.tb{
    background: whitesmoke;
}
.tb2{
    background: #bbc0c4
}
@media (max-width: 700px) {
    .row{
        flex-direction: column;
    }
}


.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.campus-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px; 
    position: relative;
    overflow: hidden;
}
.campus-col img{
    width: 100%;
    display: block;
}
.layer{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    transition: 0.4s;
    opacity: 0;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}